@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html{
        --color-primary: #0369a1;
        --color-secondary: #0891b2;
        --color-background-primary: #fafafa;
        --color-background-secondary: #FFFFFF;
        --color-border-primary: #94a3b8;
        --color-border-primary-m: #e2e8f0;
        --color-border-secondary: #4338ca;
        --color-border-main: #0ea5e9;
        --color-border-main-hover: #0284c7;
        --color-text-primary: #fafafa;
    }
    
    html[data-theme="dark"] {
      --color-primary:  #5eead4;
      --color-secondary: #0284c7;
    
    }

    h1 {
      @apply text-2xl;
      @apply font-bold
    }
    h2 {
      @apply text-xl;
      @apply font-bold

    }
    h3 {
      @apply text-lg;
      @apply font-semibold
    }
   
}


@layer utilities {
 
   .screen-height {
      min-height: calc(100vh - 129px);
   }
 }
  body {
   background-color: var(--color-background-primary);
  }